$color-text:black;
$color-text-secondary:white;
$color-primary:rgb(104, 180, 214);
$color-secondary:rgba(0, 0, 255, 0.075);
$box-shadow:1px 1px 10px 1px rgb(104, 180, 214);
$tex-shadow:2px 2px 2px  rgb(104, 180, 214);
$background-image: url(/images/fondo.jpg);