$color-text:black;
$color-text-h1:white;
$color-text-secondary:white;
$color-primary:rgb(104, 180, 214);
$color-secondary:rgba(0, 0, 255, 0.075);
$color-secondary-solid:rgba(2, 2, 68, 0.747);
$box-shadow:1px 1px 10px 1px rgb(104, 180, 214);
$tex-shadow:2px 2px 2px  rgb(104, 180, 214);
$background-color-nav:#1A202C;
$background-color:black;
$background-color-primary:rgb(104, 180, 214);
$background-color-productos:rgb(243, 243, 243);
$border:1px solid rgb(104, 180, 214);
$box-shadow-productos:0px 1px 1px 0px rgb(104, 180, 214);